*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body{
	background-color: #fff;
}

#draw {
	border: 1px solid black
}

.username-modal {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #4722a5
}

.user-login {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 40%;
}
