*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body{
	background-color: #fff;
}

#draw {
	border: 1px solid black
}

.username-modal {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #4722a5;
	z-index: 10
}

.user-login {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 40%;
	width: 200px;
	height: 70px;
}

.message-board {
	float: right;
}

.input-box {
	position: absolute;
	bottom: 50px;
	right: 5%;
}

#messages {
	position: relative;
}

.answer-box {
	position: absolute;
	text-align: left;
	bottom: 70px;
	right: 5%;
    width: 300px;
	overflow: auto;
}

#submit-answer input {
	width: 300px
}

.answer-box ul li {
	overflow: auto;
}

.title {
	color: #e5efff;
	font-size: 24px;
}
